Repository T1taniumF0rge-Industries-Inc/Software, changes with the owners that .github/CODEOWNERS names for each.
All owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42, @SutoEXEC, @GS-ST

copyrights update and rebrand update for faq.md
  .github/faq.md
Owners: @T1taniumF0rge

rebrand update to pysoft
  PySoft/README.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42, @GS-ST

Update Errors chart.md for rebrand upd
  PySoft/Errors chart.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42, @GS-ST

Update README.md large projects rebrand upd
  PySoft/Large Projects/SQLite Password Manager/README.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42, @GS-ST

this link in the individual files readme was probably broken for months
  PySoft/Large Projects/SQLite Password Manager/Individual Files/README.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42, @GS-ST

Sacreligious sometimes, changing the repo license if you're not the repo owner
  LICENSE
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update FUNDING.yml
  .github/FUNDING.yml
Owners: @T1taniumF0rge

Update README.md
  README.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Last days of GamerSoft24/Software
  PictureSoft/Screenshot 2025-09-11 210824.png
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

crap there was personal info Imma have to find a way
  PictureSoft/Screenshot 2025-09-11 210824.png
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

this is a bit better
  PictureSoft/Screenshot 2025-09-11 210824.png
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

nevermind it's not what the hell???
  PictureSoft/Screenshot 2025-09-11 210824.png
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

STUPID WEBSITE WHY IS IT BUGGY AND more importantly in the extended description:
  PictureSoft/GamerSoft24 Software no more.png
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

upd faq so that it's clearer on most ends
  .github/faq.md
Owners: @T1taniumF0rge

Update faq.md
  .github/faq.md
Owners: @T1taniumF0rge

Update README.md
  README.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

FAQ Copyright explanation for old members
  .github/faq.md
Owners: @T1taniumF0rge

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update faq.md
  .github/faq.md
Owners: @T1taniumF0rge

Update faq.md
  .github/faq.md
Owners: @T1taniumF0rge

Update Programs.md
  Programs.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update README.md
  README.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update README.md
  README.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update README.md
  README.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update LICENSE
  LICENSE
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update LICENSE
  LICENSE
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update LICENSE
  LICENSE
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update README.md
  README.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update SECURITY.md
  SECURITY.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update SECURITY.md
  SECURITY.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update SECURITY.md
  SECURITY.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update SECURITY.md
  SECURITY.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update DEVELOPER.md
  DEVELOPER.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @T1taniumF0rge, @Okmeque1, @GmaerSoft42

.github/CODEOWNERS:

# CODEOWNERS file
* @T1taniumF0rge @Okmeque1 @GmaerSoft42
/.github/ @T1taniumF0rge
/BatchSoft/ @T1taniumF0rge @Okmeque1 @GmaerSoft42 @SutoEXEC
/CPPSoft/ @T1taniumF0rge
/HTMLSoft/ @T1taniumF0rge
/HackSoft/ @T1taniumF0rge
/InstallerSoft/ @T1taniumF0rge @Okmeque1
/MinecraftSoft/ @T1taniumF0rge @Okmeque1 @GmaerSoft42
/MovieSoft/ @T1taniumF0rge @Okmeque1 @GmaerSoft42
/PySoft/ @T1taniumF0rge @Okmeque1 @GmaerSoft42 @GS-ST
/RepoSoft/ @T1taniumF0rge @Okmeque1
/VBSoft/ @T1taniumF0rge @Okmeque1 @GS-ST
