Repository T1taniumF0rge-Industries-Inc/Software, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @SutoEXEC, @GS-ST

Update README.md
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update README.md
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update README.md
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

why is deepseek always busy
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @GamerSoft24

pull requests exist
  .github/SUPPORT.md
Owners: @GamerSoft24

Update .gitattributes
  .gitattributes
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update README.md
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

uarte
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update README.md
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

see?
  markdown_testing.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

why is it broken on BC
  .github/test/Off Topic/b.mp3
Owners: @GamerSoft24

Update README.md
  PySoft/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

AUTORUN.PY - Autorun Removable device Configurator
  PySoft/Utilities/autorun.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update Programs.md
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update faq.md
  .github/faq.md
Owners: @GamerSoft24

schubert impromptu op 90 no 2 d899
  SECURITY.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

greedy capitalist investor explanation
  .github/faq.md
Owners: @GamerSoft24

Update Errors chart.md
  PySoft/Errors chart.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

uarte
  PySoft/Errors chart.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Need For Speed II Special Edition
  CONTRIBUTING.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

oh well
  PySoft/GUI/G-AIO.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

fix minor bug
  PySoft/Utilities/autorun.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

don't download the version before this it was broken and USB sticks blew up
  PySoft/Utilities/autorun.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

vladimir ashkenazy
  PySoft/GUI/G-AIO.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

stupid git bash
  PySoft/GUI/G-AIO.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

starting G-AIO modernisation: error handling, UI improvements, etc
  PySoft/GUI/G-AIO.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

First major overhaul of G-AIO, with better error handling, bug fixes, etc
  PySoft/GUI/G-AIO.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

new colorama test please wait
  PySoft/requirements.txt
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

colourama coloured text
  PySoft/Games/colorama_coloured-text.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update README.md
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update Programs.md
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

yay
  PySoft/Games/colorama_coloured-text.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

yay we have colorama and a new editor
  PySoft/Editors/CMDEdit.py
  PySoft/Games/colorama_coloured-text.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update Programs.md
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

yay finally no broken find/replace
  PySoft/Editors/CMDEdit.py
  PySoft/Editors/gui-text editor.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

stupid tkinter error handling
  PySoft/Editors/CMDEdit.py
  PySoft/Editors/gui-text editor.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

simple doc explanation because of new update
  PySoft/Large Projects/SQLite Password Manager/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

dockerrrrrrrrrrrrrrr
  DEVELOPER.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update README.md
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

because DCI is a color space, not a display standard format
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

.github/CODEOWNERS:

# CODEOWNERS file
* @GamerSoft24 @Okmeque1 @GmaerSoft42
/.github/ @GamerSoft24
/BatchSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42 @SutoEXEC
/CPPSoft/ @GamerSoft24
/HTMLSoft/ @GamerSoft24
/HackSoft/ @GamerSoft24
/InstallerSoft/ @GamerSoft24 @Okmeque1
/MinecraftSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42
/MovieSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42
/PySoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42 @GS-ST
/RepoSoft/ @GamerSoft24 @Okmeque1
/VBSoft/ @GamerSoft24 @Okmeque1 @GS-ST
