Repository T1taniumF0rge-Industries-Inc/Software, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @SutoEXEC, @GS-ST

Update Programs.md
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

python 3 clarification
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

impromptu en ut ♭émol majeur
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update README.md
  MovieSoft/Sviatoslav Richter/Schubert & Chopin/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

impromptu en ut ♭émol majeur
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update README.md
  MovieSoft/Bruce (Xiaoyu) Liu/XVIII International Chopin Piano Competition/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update README.md
  MovieSoft/Bruce (Xiaoyu) Liu/XVIII International Chopin Piano Competition/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

WARNING BUILD DEPENDENCIES FOR HTML ARE NOT AVAILABLE
  PySoft/requirements.txt
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

STUPID GITHUB UI WHY DOESN'T IT UPDATE ACCORDING TO THE FILE
  PySoft/requirements.txt
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update requirements.txt
  PySoft/requirements.txt
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

PySoft because why not
  PySoft/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

turns out html and email are part of standard module
  PySoft/requirements.txt
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update README.md
  PySoft/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

new venv information (MOST USERS CAN IGNORE)
  PySoft/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update Errors chart.md
  PySoft/Errors chart.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update README.md
  PySoft/Large Projects/SQLite Password Manager/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

uarte
  CONTRIBUTING.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update SECURITY.md
  SECURITY.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

voilá
  PySoft/Large Projects/SQLite Password Manager/Individual Files/main.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

aaaaaaaaaaaaa
  PySoft/Large Projects/SQLite Password Manager/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

please LFS don't break; SQLite Password Manager small bugfixes regarding inputs and whatot
  PySoft/Large Projects/SQLite Password Manager/Individual Files/__pycache__/encryption.cpython-310.pyc
  PySoft/Large Projects/SQLite Password Manager/Individual Files/__pycache__/pwdgen.cpython-310.pyc
  PySoft/Large Projects/SQLite Password Manager/Individual Files/__pycache__/pwdmgr.cpython-310.pyc
  PySoft/Large Projects/SQLite Password Manager/Individual Files/encryption.py
  PySoft/Large Projects/SQLite Password Manager/Individual Files/main.py
  PySoft/Large Projects/SQLite Password Manager/Individual Files/pwd.db
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update README.md
  PySoft/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update README.md
  PySoft/Large Projects/SQLite Password Manager/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Richter 1958 Recital tuning fix
  PySoft/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

more clarifications for this file
  PySoft/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

because what is programs.md? explanation is now here
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update README.md
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update SECURITY.md
  SECURITY.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

warranty warranty warranty
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

more warranty
  SECURITY.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

make warranty more clear and stand out
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

clarifications for the README and whatnot
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

bruh really why is GitHub case sensitive?
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

you should have consent from ALL parties involved if you want to use hacks
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

are you happy now Code
  .github/workflows/c-cpp.yml
Owners: @GamerSoft24

please fix
  .github/workflows/c-cpp.yml
Owners: @GamerSoft24

remove typo
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

fix for input so that all commands work now
  PySoft/Utilities/iPCMD.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

same bug fix as in ipcmd
  OkmequeSoft/PythonSoft/Utilities/iCMD.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

.github/CODEOWNERS:

# CODEOWNERS file
* @GamerSoft24 @Okmeque1 @GmaerSoft42
/.github/ @GamerSoft24
/BatchSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42 @SutoEXEC
/CPPSoft/ @GamerSoft24
/HTMLSoft/ @GamerSoft24
/HackSoft/ @GamerSoft24
/InstallerSoft/ @GamerSoft24 @Okmeque1
/MinecraftSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42
/MovieSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42
/PySoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42 @GS-ST
/RepoSoft/ @GamerSoft24 @Okmeque1
/VBSoft/ @GamerSoft24 @Okmeque1 @GS-ST
