Repository T1taniumF0rge-Industries-Inc/Software, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @SutoEXEC, @GS-ST

.github/CODEOWNERS:

# CODEOWNERS file
* @GamerSoft24 @Okmeque1 @GmaerSoft42
/.github/ @GamerSoft24
/BatchSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42 @SutoEXEC
/CPPSoft/ @GamerSoft24
/HTMLSoft/ @GamerSoft24
/HackSoft/ @GamerSoft24
/InstallerSoft/ @GamerSoft24 @Okmeque1
/MinecraftSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42
/MovieSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42
/PySoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42 @GS-ST
/RepoSoft/ @GamerSoft24 @Okmeque1
/VBSoft/ @GamerSoft24 @Okmeque1 @GS-ST

UPD ON VISUAL STUDIO 2022: TFL GUI AIO
  .vs/ProjectSettings.json
  .vs/Software/CopilotIndices/17.13.430.18484/SemanticSymbols.db
  .vs/Software/FileContentIndex/3a3367f2-4374-40a2-864b-a9aa64ab5477.vsidx
  .vs/Software/FileContentIndex/46497a50-acd4-4b55-a699-82bd3e55bf12.vsidx
  .vs/Software/FileContentIndex/4b886d3d-4bde-42dc-87ad-0276fef36f8b.vsidx
  .vs/Software/FileContentIndex/b1db65ee-bfd5-4ab8-a834-1ffcb57e8d7d.vsidx
  .vs/Software/FileContentIndex/e8b7080b-56cd-46e1-b9e0-cef26b9caccd.vsidx
  .vs/Software/copilot-chat/56a579e7/sessions/0ee0b35c-4071-4f51-8ea9-530922368027
  .vs/Software/copilot-chat/56a579e7/sessions/b7b5f72a-e580-4312-b0a3-cd0db1ea03ae
  .vs/Software/v17/.wsuo
  .vs/Software/v17/DocumentLayout.backup.json
  .vs/Software/v17/DocumentLayout.json
  .vs/VSWorkspaceState.json
  PySoft/Utilities/TFL/tfl tube times - platform level.py
  PySoft/Utilities/TFL/tfl tube times - station level.py
  PySoft/Utilities/TFL/tfl tube times aio - gui.py
  PySoft/Utilities/tfl tube times - platform level.py
  PySoft/Utilities/tfl tube times - station level.py
  PySoft/requirements.txt
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

U
  .gitignore
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update tfl tube times aio - gui.py
  PySoft/Utilities/TFL/tfl tube times aio - gui.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

more blunders
  PictureSoft/Okmeque1 Media/Chess/33 blunder.jpg
  PictureSoft/Okmeque1 Media/Chess/44 33 blujndcer.jpg
  PictureSoft/Okmeque1 Media/Chess/Nc3 is not best.jpg
  PictureSoft/Okmeque1 Media/Chess/Nc3 this gives away a free knight but defends a pawn.jpg
  PictureSoft/Okmeque1 Media/Chess/a.jpg
  PictureSoft/Okmeque1 Media/Chess/apreuil faouels.jpg
  PictureSoft/Okmeque1 Media/Chess/average chess commentator.PNG
  PictureSoft/Okmeque1 Media/Chess/blunder d6 was best.jpg
  PictureSoft/Okmeque1 Media/Chess/bxc4 Bxc4.jpg
  PictureSoft/Okmeque1 Media/Chess/chess.PNG
  PictureSoft/Okmeque1 Media/Chess/counterattack failure.jpg
  PictureSoft/Okmeque1 Media/Chess/d6.jpg
  PictureSoft/Okmeque1 Media/Chess/exd5 is maybe not the best choice.jpg
  PictureSoft/Okmeque1 Media/Chess/italian game blunder.jpg
  PictureSoft/Okmeque1 Media/Chess/karo cann .jpg
  PictureSoft/Okmeque1 Media/Chess/lichess.jpg
  PictureSoft/Okmeque1 Media/Chess/meline.jpg
  PictureSoft/Okmeque1 Media/Chess/mme lasker.jpg
  PictureSoft/Okmeque1 Media/Chess/nxd6 blunder.jpg
  PictureSoft/Okmeque1 Media/Chess/promote to king.jpg
  PictureSoft/Okmeque1 Media/Chess/queen's gambit denied.jpg
  PictureSoft/Okmeque1 Media/Chess/there is only one way to take the knight.jpg
  PictureSoft/Okmeque1 Media/Chess/there was only one good move there.jpg
  PictureSoft/Okmeque1 Media/Chess/this misses a better way to defend a pawn that was under attack.jpg
  PictureSoft/Okmeque1 Media/Chess/uarte.jpg
  PictureSoft/Okmeque1 Media/Chess/viglen Nxd6+ blunder.jpg
  PictureSoft/Okmeque1 Media/Chess/which one suits you bnest.jpg
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

the fix wasn't fixed
  CONTRIBUTING.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

somehow not installed on my pc
  PySoft/requirements.txt
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update Errors chart.md
  PySoft/Errors chart.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

sophos endpoint agent < meline anti threat system
  .github/faq.md
Owners: @GamerSoft24

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

new chess
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-01-10 220435.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-01-31 085414.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-01-31 085444.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-01-31 085656.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-03-13 084745.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-03-23 214954.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-04-25 220553.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-08 181039.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-08 215310.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-08 215332.png
  PictureSoft/Okmeque1 Media/Chess/oops you gave up a pawn.png
  PictureSoft/Okmeque1 Media/Chess/oops you gave up a queen.png
  PictureSoft/Okmeque1 Media/Chess/oops you gave up a rook.jpg
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

unsécuritycraft
  SECURITY.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update markdown_testing.md
  markdown_testing.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @GamerSoft24

Update Programs.md
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

NEVER DELETE MSEDGE WEBVIEW, IT BREAKS CITRIXWORKSPACE
  BatchSoft/Windows/regchg.bat
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @SutoEXEC

Update regchg.bat
  BatchSoft/Windows/regchg.bat
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @SutoEXEC

more blunderzzzz
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-09 085039.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-11 110240.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-14 084647.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-14 090318.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-14 090427.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-14 090649.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-17 100229.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-17 100629.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-17 101757.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-17 130005.png
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update .gitignore
  .gitignore
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Create *.txt
  PictureSoft/Rigged Pictures/*.txt
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

RATP GPE pics
  PictureSoft/Rigged Pictures/RATP & Grand Paris Express/better mp14.PNG
  PictureSoft/Rigged Pictures/RATP & Grand Paris Express/better sprague thompson.png
  PictureSoft/Rigged Pictures/RATP & Grand Paris Express/brainrot mf19.jpeg
  PictureSoft/Rigged Pictures/RATP & Grand Paris Express/mf19.jfif
  PictureSoft/Rigged Pictures/RATP & Grand Paris Express/mf77.jpg
  PictureSoft/Rigged Pictures/RATP & Grand Paris Express/mp14.jpg
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update *.txt
  PictureSoft/Rigged Pictures/*.txt
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

so useful why is named as okmeque1 software
  BatchSoft/Windows/regchg.bat
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @SutoEXEC

Update Programs.md
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

just because flippity wheel has such strange sounds
  PySoft/Games/flippity_random-overload.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

flippity overload
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

flippity 1855 hard limit
  PySoft/Games/flippity_random-overload.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

no more lawsuits
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

it break git
  PictureSoft/Rigged Pictures/é.txt
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

sooo muchhh funnnnnn
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-18 104019.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-18 104038.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-18 104725.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-18 104737.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-21 214359.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-21 214516.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-24 215807.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-24 215827.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-25 094643.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-25 094700.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-26 101855.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-26 102023.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-26 102238.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-26 130238.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-26 131123.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-26 131307.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-26 213202.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-26 213213.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-26 215545.png
  PictureSoft/Okmeque1 Media/Chess/Screenshot 2025-05-26 221251.png
  PictureSoft/Okmeque1 Media/Paris Métro Ⓜ & RER/mp59 paint.png
  PictureSoft/Rigged Pictures/RATP & Grand Paris Express/to edit.png
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

don't forget to commit in git
  PictureSoft/Okmeque1 Media/Chess/uarte the martin nxd6 blunder.PNG
  PySoft/GUI/G-AIO.py
  PySoft/Large Projects/SQLite Password Manager/Individual Files/__pycache__/encryption.cpython-311.pyc
  PySoft/Large Projects/SQLite Password Manager/Individual Files/__pycache__/pwdgen.cpython-311.pyc
  PySoft/Large Projects/SQLite Password Manager/Individual Files/__pycache__/pwdmgr.cpython-311.pyc
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

temporary g-aio update please wait
  PySoft/GUI/G-AIO.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update SECURITY.md
  SECURITY.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update SECURITY.md
  SECURITY.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

it's gonna break
  PySoft/GUI/G-AIO.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

G-AIO: WinAIO software for WIndows Shell PC
  PySoft/GUI/G-AIO.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

uarte the martin víglen Nxd6+ blunder
  PySoft/GUI/G-AIO.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Be7?? Nxd6+??
  PySoft/Errors chart.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update DEVELOPER.md
  DEVELOPER.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42
