Repository T1taniumF0rge-Industries-Inc/Software, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @SutoEXEC, @GS-ST

Start of Demos folder: a folder where we showcase cool things that Python can do
  PySoft/Demos/colorama_coloured-text.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

a cool demo that rains green code
  PySoft/Demos/code rain.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Happy new year text, however we're planning to add a feature to make this script timeless
  PySoft/Demos/happy new year 2024!!.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

The really cool program that draws a rainbow void.
  PySoft/Demos/rainbow void.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

merci! In reality just an update for PySoft/Demos folder
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Now for any year. Text that says Happy New Year
  PySoft/Demos/happy new year!!.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

oops I forgot to update some of the link demos
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Shhhhhh! Don't tell anyone this file exists, and don't put it in programs.md please
  PySoft/Demos/Gloucester Road Piccadilly Line.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

hopefully this doesn't break
  PySoft/Demos/happy new year!!.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

sorry pypa, it's not like you're garbage or anything
  PySoft/README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Create DODELE.TE
  OfficeSoft/PC Build Template/DODELE.TE
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

PC Build Templates - Read Description
  OfficeSoft/PC Build Template/PC Builds.xlsx
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

PC Building Templates Addition
  OfficeSoft/PC Build Template/DODELE.TE
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

PC Build Template update for OfficeSoft Programs.md
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

destroyPC was never mentioned in Programs.md
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

LE FANTASTIQUE SVIATOSLAV RICHTER en DEUX DISQUES
  MovieSoft/Sviatoslav Richter/notes_music29032025.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

update code rain.py
  PySoft/Demos/Gloucester Road Piccadilly Line.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

update code rain again for inor bud fix
  PySoft/Demos/glsctr rd.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

oops forgot about the 1500th commit
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

some clarification on Python 3.4.4 installersoft
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

david baszucki aie aie aie
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

uarte what ddid I change in the Faq?
  .github/faq.md
Owners: @GamerSoft24

emphasis on users reading the darn thing
  PySoft/Errors chart.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

vut's see vut's see
  PySoft/Editors/CMDEdit.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

CMDEdit: fixed bug where if you entered an empty string in the CTRL-F menu then the program was stuck in an infinite loop of founds
  PySoft/Editors/CMDEdit.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

just making sure SQlite Pwdmgr didn't crumple on an empty/missing db file
  PySoft/Large Projects/SQLite Password Manager/Individual Files/main.py
  PySoft/Large Projects/SQLite Password Manager/Individual Files/pwd.db
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

just making sure SQlite Pwdmgr didn't crumple on an empty/missing db file
  PySoft/Large Projects/SQLite Password Manager/Individual Files/main.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

G-AIO: Fixed major bug that made buttons not do what they said they did and added extra command in the Tools Menu
  PySoft/GUI/G-AIO.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

oops wrong error code for permission error
  PySoft/Editors/gui-text editor.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update README.md
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

SMS Advanced Edition: SMS for 2025 Needs! (encryption, better UI, etc)
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

slightly more robust error handling in SMS advanved that can now handle 999 errors instead of 2
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

so that you don't get sued for using the encryption system,
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update Programs.md
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

bruh the entire password manager system was broken
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Git Guide
  DEVELOPER.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update markdown_testing.md
  markdown_testing.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

fixed small UI bug and more robust error handler system in sms adv
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

add permission error to sms adv
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

for the scared people thinking my code is broken not even trying to use it
  PySoft/Large Projects/SQLite Password Manager/Individual Files/main.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

.github/CODEOWNERS:

# CODEOWNERS file
* @GamerSoft24 @Okmeque1 @GmaerSoft42
/.github/ @GamerSoft24
/BatchSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42 @SutoEXEC
/CPPSoft/ @GamerSoft24
/HTMLSoft/ @GamerSoft24
/HackSoft/ @GamerSoft24
/InstallerSoft/ @GamerSoft24 @Okmeque1
/MinecraftSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42
/MovieSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42
/PySoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42 @GS-ST
/RepoSoft/ @GamerSoft24 @Okmeque1
/VBSoft/ @GamerSoft24 @Okmeque1 @GS-ST
