Repository T1taniumF0rge-Industries-Inc/Software, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @SutoEXEC, @GS-ST

sms adv: make default file more clear
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

better UI for pwdmanager in sms adv
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

replace raise 6510B with a create directory
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

PLEASE DON'T ERASE YEARS OF HARD WORK (SMS ADV)
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Jorg Demus - Easy Beethoven: Sonata No. 25 Op. 79 Mov't 3
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

error chart for clearer instructions
  PySoft/Errors chart.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

hopefully this works
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: @GamerSoft24

let's see let's see
  .github/ISSUE_TEMPLATE/bug_report.yml
Owners: @GamerSoft24

update to pr template so that the security policy stays up to date
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @GamerSoft24

Update SECURITY.md
  SECURITY.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Don't forget to protect your data!
  SECURITY.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

bro what?
  SECURITY.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update faq.md
  .github/faq.md
Owners: @GamerSoft24

small changes to sms advanced default file prompt among other things
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

uarte the best way to fix a small bug
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

I have to update the link of PC printable lined paper if I have time
  OfficeSoft/Printable Lined Paper/Credits.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

rushing to add new error codes sorry for bad explanantion
  PySoft/Errors chart.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

massive UI update to SMS advanced: clearer prompts, more clean UI, try the program to see the full extent of my progress
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

hopefully this works, can't remember what I changed sorry
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update security management system - advanced edition.py
  PySoft/Utilities/security management system - advanced edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

just a quick update to the entire roblox situation (09/09/2025). Extended commit is really long so you can skip if you want.
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

I did test it btw
  PySoft/Utilities/iPCMD - Extended Edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

iPCMD Extended in Programs.md + Roblox vs Schlep in commit
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

oops I forgot IOError as e
  PySoft/Utilities/iPCMD - Extended Edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

bro what the hell why did I put except SyntaxError?????
  PySoft/Utilities/iPCMD - Extended Edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Update SECURITY.md LIABILITY AND SAFETY
  SECURITY.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update SECURITY.md again
  SECURITY.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

small updates to G-AIO (for all subprocess commands) and iPCMD for slightly better prompt and error handling
  PySoft/GUI/G-AIO.py
  PySoft/Utilities/iPCMD - Extended Edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

Good job GamerSoft24 for committing! Anyways exception hierarchy thing so that IOError gets caught first
  PySoft/Utilities/iPCMD - Extended Edition.py
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42, @GS-ST

rename so that I can edit
  OfficeSoft/Printable Lined Paper/1printable-lined-paper_small-margin.docx
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

same thing here
  OfficeSoft/Printable Lined Paper/1printable-lined-paper_standard-margin.docx
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update to the link at the bottom
  OfficeSoft/Printable Lined Paper/printable-lined-paper_small-margin.docx
  OfficeSoft/Printable Lined Paper/printable-lined-paper_standard-margin.docx
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

this goes in the bin because it was the old version
  OfficeSoft/Printable Lined Paper/1printable-lined-paper_standard-margin.docx
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

same thing here
  OfficeSoft/Printable Lined Paper/1printable-lined-paper_small-margin.docx
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

update for T1taniumF0rge re-branding
  README.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

same thing replace for T1taniumF0rge rebrand
  Programs.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

T1taniumF0rge rebrand and better git guide
  DEVELOPER.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

rebrand again
  CONTRIBUTING.md
Owners: @GamerSoft24, @Okmeque1, @GmaerSoft42

Update SUPPORT.md
  .github/SUPPORT.md
Owners: @GamerSoft24

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @GamerSoft24

.github/CODEOWNERS:

# CODEOWNERS file
* @GamerSoft24 @Okmeque1 @GmaerSoft42
/.github/ @GamerSoft24
/BatchSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42 @SutoEXEC
/CPPSoft/ @GamerSoft24
/HTMLSoft/ @GamerSoft24
/HackSoft/ @GamerSoft24
/InstallerSoft/ @GamerSoft24 @Okmeque1
/MinecraftSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42
/MovieSoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42
/PySoft/ @GamerSoft24 @Okmeque1 @GmaerSoft42 @GS-ST
/RepoSoft/ @GamerSoft24 @Okmeque1
/VBSoft/ @GamerSoft24 @Okmeque1 @GS-ST
